{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "semi": false,
  "printWidth": 120,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "space_after_anon_function": true,
  "space_after_named_function": true
}
